<div class="container pt-4">
  <form>
    <h1 class="text-center">On the Grill</h1>
  <div class="form-group row">
    {{#each grills}}
      {{> grill this}}        
    {{/each}}
  </div>
  <h1 class="text-center mt-5">Gourmet Toppings</h1>
  <div class="form-group row">
    <div class="col-md-6">
      <h2 class="text-center mt-4">Premium Toppings</h2>
      <div class="row">
        <div class="col-md-4">
        {{#each premiums.firstRow}}
          {{> toppings this}}        
        {{/each}}
      </div>
      <div class="col-md-4">
        {{#each premiums.secondRow}}
          {{> toppings this}}        
        {{/each}}
      </div>
      <div class="col-md-4">
        {{#each premiums.thirdRow}}
          {{> toppings this}}        
        {{/each}}
      </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="text-center mt-4">Toppings</h2>
      <div class="row">
        <div class="col-md-4">
        {{#each toppings.firstRow}}
          {{> toppings this}}        
        {{/each}}
      </div>
      <div class="col-md-4">
        {{#each toppings.secondRow}}
          {{> toppings this}}        
        {{/each}}
      </div>
      <div class="col-md-4">
        {{#each toppings.thirdRow}}
          {{> toppings this}}        
        {{/each}}
      </div>
      </div>
    </div>
  </div>
  <div class="form-group row mt-5 mb-5">
    <input type="text" class="form-control col-md-4 offset-md-4" placeholder="Name your burger!" aria-label="Burger's name" aria-describedby="burger_name">
    <div class="form-group-append">
      <button class="btn btn-warning" type="button" id="button-burger" onclick="handleBurgerSubmit()">Devour!</button>
    </div>
  </div>
  </form>
</div>
