<div class="col-md-4">
        <div class="form-check">
            <div 
              class="btn btn-light card mt-3" 
              data-toggle="button"
              style="width: 18rem; height: 16rem;">
            <img src="{{this.img_url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">{{this.burger_info}}</p>
            </div>
            </div>
        </div>
    </div>