<!--- Navigation --->
  <nav class="navbar fixed-top d-flex justify-content-center">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo1.png" width="75" height="80" class="d-inline-block align-top" alt="">
      <img src="/assets/images/logo2.png" width="135" height="80" class="d-inline-block align-top" alt="">
      </a>
  </nav>
  <!-- End Navigation --->