<!--- Home Section --->
<div id="home">

  <!--- Navigation --->
  <nav class="navbar fixed-top d-flex justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" width="75" height="80" class="d-inline-block align-top" alt="">
      <img src="/assets/images/logo2.png" width="145" height="80" class="d-inline-block align-top" alt="">
      </a>
  </nav>
  <!-- End Navigation --->

  <!--- Landing Page Sectipn --->
  <div class="container">
    <div class="row">

      <!--- Burgers --->
      <div id="burgers" class="col-12">
        {{!-- <img src="./assets/images/banner.png" alt="" srcset=""> --}}
        <h1 class="text-center mt-5">Signature Choices</h1>
        <div class="row">
          {{#each burgers}}
            <div class="col-4 mt-5">
              <div class="card text-dark burger-card">
                <img src="{{this.img_url}}" class="card-img ml-5 mt-5 mb-4" alt="..." style="width: 75%;">
                <div class="card-img-overlay">
                  <h6 class="card-title text-right">
                    <span class="text-danger"><i class="fas fa-heart"></i></span> 
                    {{this.num_of_likes}} Likes
                  </h6>
                </div>
                <p class="card-text text-center mb-4">{{this.burger_info}}</p>
                <div class="buttons mb-5 d-flex justify-content-center">
                  <button class="btn btn-warning btn-large pr-4 pl-4 mr-2 text-white">Add</button>
                  {{!-- <button class="btn btn-warning">Devaour</button> --}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <!-- End Burgers --->

      <!--- Order Cart Section --->
      <div class="col-4"></div>
      <!--- End Orger Cart Section --->

    </div>
  </div>
  <!--- End Landing Page Section --->
</div>


{{!-- <h1>Burgers!</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        <figure>
          <img src="/assets/images/burger.png" alt="">
          <figcaption>{{this.burger_name}}</figcaption>
        </figure>
      </li>
    {{/unless}}
  {{/each}}
</ul> --}}
