@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-size: 16px;
  background: #F8F8F8;
  font-family: 'Raleway', sans-serif;
}

/*** Navigation ***/
.navbar {
  background: rgb(0, 0, 0)!important;
  padding: 0!important;
}

.navbar a {
  background-color: #ffd200;
  padding-right: 0.5rem;
}

.container,
.container-fluid {
  margin-top: 90px;
}

#burgers h1 {
  font-weight: 900;
}

.modal {
  left: 33.33%!important;
}

@media screen and (max-width: 576px) {
  .modal {
    left: 0!important;
  }
}

.active {
  background-color: #ffd200!important;
}
